<html>
<body>
<div class="container">
<div class="row">
  <div class="col-sm-8"><img src="images/logoadmin.png" class="img-rounded img-responsive" /></div>
  <div class="col-sm-4"><img src="images/logo.jpg" class="img-rounded img-responsive"/><h1 style="color: DarkOrange">GD e-commerce<br>Administração</h1></div>
</div>
</div>
<% if @todos.size ==0 then%>

<div class="col-sm-2"></div>
  <div class="col-sm-8"><h1 class="display-1" style="color: red; margin-top: 10%; margin-left: 15%">Não existem produtos cadastrados</h1><p style="margin-left: 38%">Você pode <%= link_to "Adicionar um novo produto", produtos_new_path %>.</p></div>
  <div class="col-sm-2"></div><br>
<%else%>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <% todos = Produto.all %>
        <% todos.each do |produto| %>
            <tr>
                <td><%= produto.nome %></td>
                <td><%= produto.valor %></td>
                <td><%= produto.quantidade %></td>
                <td><a href="/produtos/<%= produto.id %>/remove" class="btn btn-danger">Remover</a>
                <a href="/produtos/<%= produto.id %>/alterar" class="btn btn-primary">Editar</a></td>
            </tr>
        <% end%>
    </tbody>
</table>
<%= link_to "Adicionar produto", produtos_new_path %>
<%end%>
</body>
</html>